* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

/* Título */
.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* Botões gerais */
button {
  background: #fff;
  color: #333;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

button:hover {
  
  background: #ffd166;
  transform: scale(1.08);
}

button a {

  text-decoration: none;
  color: inherit;
}

/* Container dos botões de créditos e licença */
.info-buttons {
  display: flex;
  gap: 1rem;
}
/* Container do botão inicio*/
.container-inicio {
  margin-top: 30px;         /* afasta do container de opções */
  display: flex;            /* permite usar justify-content */
  justify-content: center;  /* centraliza o botão */
}

/* Classe para esconder elementos */
.hidden {
  display: none;
}

/* Container dos botões Pedra/Papel/Tesoura */
#opcoes {
  display: flex;            /* coloca os botões em linha */
  gap: 1rem;                /* espaço entre os botões */
  margin-top: 1.5rem;       /* distância do botão Jogar */
  justify-content: center;  /* centraliza horizontalmente */
}
select {
    background: #fff;
  color: #333;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

button:hover {
  background: #ffd166;
  transform: scale(1.08);
}

button a {
  text-decoration: none;
  color: inherit;
}
